.header {
    background-color: white;
    color: rgb(50, 50, 50);    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0%; 
    width: 50%; 
    height: 3px; 
    background-color: rgb(250, 200, 0);
}

.logo-and-name {
    font-size: 1.5rem;
    margin-left: 3rem;
}

.nav-links {
    margin-top: 1rem;
    padding-right: 5rem;
    display: flex;
    gap: 1rem;
    transform: translateY(10px);
}

.auth-buttons {
    display: flex;
    gap: 10px;
}