.App {
  text-align: center;
}

.btn.light-button {
  background-color: rgb(255, 255, 255);
  color: rgb(55, 55, 55);
  border: 1px solid rgb(55, 55, 55);
  transition: background-color 0.6s ease;
}

.btn.light-button:hover {
  background-color: rgb(75, 75, 75);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(55, 55, 55);
  transition: background-color 0.1s ease;
}

.btn.dark-button {
  background-color: rgb(55, 55, 55);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(55, 55, 55);
  transition: background-color 0.6s ease;
}

.btn.dark-button:hover {
  background-color: rgb(235, 235, 235);
  color: rgb(55, 55, 55);
  border: 1px solid rgb(55, 55, 55);
  transition: background-color 0.1s ease;
}